name: Build and publish trixie rpi os image

on:
  push:
    branches:
      - master
    paths:
      - rpi-trixie.Dockerfile
  workflow_dispatch:

jobs:
  build_and_publish:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-24.04-arm
    permissions:
      packages: write
      contents: read
      id-token: write
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build the Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          build-args: |
            APP_SERVICE_NAME=${{matrix.service.name}}-service
          file: rpi-trixie.Dockerfile
          push: true
          tags: mafciejewiczow/raspberrypi-os:python3.13-trixie
          cache-from: type=gha
          cache-to: type=gha,mode=max
